# Default values for apipark

# Global settings
global:
  # imageRegistry: "10.11.233.138/rpa/"
  imageRegistry: ""
  #imagePullSecrets:
  #  - name: rpasecret
  imagePullSecrets: []
  persistence:
    #storageClass: "rpa-sc-nfs"
    storageClass: "rpa-local-storage"
    accessMode: ReadWriteOnce
    size: 50Gi
    # subPath: "chad/apipark" # 沒作用

# MySQL Configuration
mysql:
  enabled: true
  image:
    repository: mysql
    # tag: "8.0.37"
    tag: "8.0"
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 3306
    targetPort: 3306
    nodePort: 31306
  auth:
    database: "apipark"
    rootPassword: "123456"
    username: "root"
    password: "123456"
  resources:
    limits:
      memory: 1Gi
      cpu: 500m
    requests:
      memory: 512Mi
      cpu: 250m
  persistence:
    size: 10Gi

# Redis Configuration
redis:
  enabled: true
  image:
    repository: redis
    tag: "7.2.4"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 6379
  auth:
    password: "123456"
  resources:
    limits:
      memory: 512Mi
      cpu: 250m
    requests:
      memory: 256Mi
      cpu: 100m
  persistence:
    enabled: true
    size: 5Gi

# InfluxDB Configuration
influxdb:
  enabled: true
  image:
    repository: influxdb
    # tag: "2.6"
    tag: "2.7.1"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8086
  auth:
    username: "admin"
    password: "Key123qaz"
    org: "apipark"
    bucket: "apinto"
    token: "dQ9>fK6&gJ"
  resources:
    limits:
      memory: 1Gi
      cpu: 500m
    requests:
      memory: 512Mi
      cpu: 250m
  persistence:
    size: 20Gi

# Loki Configuration
loki:
  enabled: false
  image:
    repository: grafana/loki
    # repository: loki
    tag: "3.2.1"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 3100
  resources:
    limits:
      memory: 1Gi
      cpu: 500m
    requests:
      memory: 512Mi
      cpu: 250m
  persistence:
    size: 20Gi

# Grafana Configuration
grafana:
  enabled: false
  image:
    repository: grafana/grafana
    # repository: grafana
    tag: "11.3.2"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 3000
  auth:
    anonymousEnabled: true
    anonymousOrgRole: "Admin"
  resources:
    limits:
      memory: 1Gi
      cpu: 500m
    requests:
      memory: 512Mi
      cpu: 250m
  persistence:
    enabled: true
    size: 5Gi

# NSQ Configuration
nsq:
  enabled: true
  image:
    repository: nsqio/nsq
    # repository: nsq
    tag: "v1.3.0"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    ports:
      tcp:
        port: 4150
      http:
        port: 4151
  resources:
    limits:
      memory: 512Mi
      cpu: 250m
    requests:
      memory: 256Mi
      cpu: 100m

# Apinto Gateway Configuration
apinto:
  enabled: true
  image:
    repository: eolinker/apinto-gateway
    # repository: apinto-gateway
    tag: "0.22.11"
    pullPolicy: IfNotPresent
  service:
    # type: ClusterIP
    type: NodePort
    port: 8099 # 主要 HTTP 端口 (http)
    targetPort: 8099
    nodePort: 31899
    ports:
      admin:
        port: 9400
      metrics:
        port: 9401
  resources:
    limits:
      memory: 1Gi
      cpu: 500m
    requests:
      memory: 512Mi
      cpu: 250m
  persistence:
    enabled: true
    size: 5Gi

# APIPark Main Application Configuration
apipark:
  enabled: true
  image:
    repository: apipark/apipark
    # repository: apipark
    # tag: "v1.9.5-beta-0911"
    tag: "v1.9.3-beta"
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 8288
    targetPort: 8288
    nodePort: 31288
  replicaCount: 1
  env:
    MYSQL_USER_NAME: "root"
    MYSQL_PWD: "123456"
    MYSQL_IP: "apipark-mysql"
    MYSQL_PORT: "3306"
    MYSQL_DB: "apipark"
    ERROR_DIR: "work/logs"
    ERROR_FILE_NAME: "error.log"
    ERROR_LOG_LEVEL: "info"
    ERROR_EXPIRE: "7d"
    ERROR_PERIOD: "day"
    REDIS_ADDR: "apipark-redis:6379"
    REDIS_PWD: "123456"
    ADMIN_PASSWORD: "aToh0eag"
    Init: "true" # pod 啟動關鍵參數
    InfluxdbToken: "dQ9>fK6&gJ"
  resources:
    limits:
      memory: 4Gi
      cpu: 1000m
    requests:
      memory: 1Gi
      cpu: 500m

# Service Account
serviceAccount:
  create: true
  annotations: {}
  name: ""

# Pod Security Context
# podSecurityContext:
#   fsGroup: 1000

# Security Context
# securityContext:
#   capabilities:
#     drop:
#       - ALL
#   # readOnlyRootFilesystem: false
#   runAsNonRoot: true
#   runAsUser: 1000
#   runAsGroup: 1000

# Node Selector
nodeSelector: {}

# Tolerations
tolerations: []

# Affinity
affinity: {}
